<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        h1{
            color:green;
            position: relative;
            left:45%;
        }

        button{
            width:250px;
            height:10%;
            background-color:lightblue;
            color:black;
        }

    </style>
</head>
<body>
    
    <h1>
        Welcome :)
    </h1>
    <button>
        <a href="/users/sign-in"> Sign in </a>
    </button>
    <button>
        <a href="/users/sign-up"> Sign up </a>
    </button>

</body>
</html>

